.navbar{
    /*box-shadow: 0px 3px 6px #00000029;*/
    background-color: transparent !important;
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
}
.nav-item{
    padding-left: 4vw;
}
.nav-link{
    font-size: 1.2rem;
}
.nav-link:hover{
    opacity: 0.7;
}
.bi-laptop{
    font-size: 2.5rem;
}
.navbar-brand-img{
    width: 4.5rem;
}
.txt-button{
    font-size: 1.1rem;
}
.button-icon{
    font-size: 1.3rem;
}
.cv-container{
    margin-right: 2%;
}
.darkmode-container{
    cursor: pointer;
}