<nav class="navbar navbar-expand-lg fixed-top animate__animated animate__slideInDown" [ngClass]="{'navbar-dark': darkMode, 'navbar-light': darkMode === false}">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" (click)="scroll('about')"><img src="../../../assets/img/Miguel_Montes_logo.png" class="navbar-brand-img invert-navbar-brand-img"/></a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        
        <ul class="navbar-nav m-auto px-5 mb-lg-0 text-center">
          <li class="nav-item" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01">
            <a class="nav-link active" aria-current="page" (click)="scroll('about')">Acerca de</a>
          </li>
          <li class="nav-item" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01">
            <a class="nav-link active" (click)="scroll('education')">Educación</a>
          </li>
          <li class="nav-item" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01">
            <a class="nav-link active" (click)="scroll('tecnologies')">Tecnologías</a>
          </li>
          <li class="nav-item" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01">
            <a class="nav-link active" (click)="scroll('projects')">Proyectos</a>
          </li>
          <li class="nav-item" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01">
            <a class="nav-link active" (click)="scroll('contact')">Contacto</a>
          </li>
        </ul>
      </div>
      <div class="d-flex cv-container">
        <a href="../../../assets/files/Miguel-Montes-CV-EN.pdf" download="MiguelMontes(CV)"><button class="btn txt-button" [ngClass]="{'btn-light': darkMode, 'btn-dark': darkMode === false}">CV <i class="bi bi-file-earmark-arrow-down button-icon"></i></button></a>
      </div>
      <div class="form-switch d-flex">
        <input class="form-check-input button-icon darkmode-container" type="checkbox" role="switch" id="flexSwitchCheckDefault" (change)="checkCheckBoxvalue($event.target)" [checked]="darkMode">
        <label class="form-check-label darkmode-container" for="flexSwitchCheckDefault">&nbsp;&nbsp;<i class="bi bi-moon-fill button-icon"></i></label>
      </div>
    </div>
  </nav>