.me-img{
    width: 250px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.greeting{
    font-size: 1.4rem;
}
.name{
    font-size: 2.3rem;
    padding-top: .7rem;
}
.occupation{
    font-size: 1.6rem;
    padding-top: .7rem;
}
.description{
    font-size: 1.2rem;
    padding-top: .8rem;
}
.section-education{
    background-color: var(--color-secondary);
    color: var(--color-primary);
    text-align: center;
}
.apart-header{
    font-size: 2rem;
    text-align: center;
}
.ut-img{
    width: auto;
    height: 135px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.career{
    padding-top: .5rem;
}
.career > h4{
    font-size: 1.3rem;
}
.emoji{
    font-size: 2.1rem;
}
.section-tecnologies{
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 1.1rem;
    text-align: center;
}
.section-tecnologies > .container > .row *{
    padding-bottom: 1.1rem;
}
.tecnologie-name{
    padding-top: .3rem;
}
.angular-img{
    width: auto;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.section-projects{
    background-color: var(--color-secondary);
    color: var(--color-primary);
}
.link-secondary{
    font-size: 1.8rem;
    color: var(--color-secondary);
    text-align: center;
}
.d-lg-block{
    padding-top: .5rem;
    font-size: 1.45rem;
}
.text-uppercase{
    font-size: 1.3rem;
}
.txt{
    font-size: 1.16rem;
}