<app-header></app-header>
<br>
<div class="container" id="about">
    <div class="row">
      <div class="col-sm-12 col-lg-4 col-md-6 animate__animated animate__fadeInLeft">
        <img src="../assets/img/me.jpg" class="me-img" alt="Miguel Montes Contreras mirror photo">
      </div>
      <div class="col-sm-12 col-lg-6 col-md-6 animate__animated animate__fadeInUpBig">
        <div class="greeting">
          Hola 👋 mi nombre es
        </div>
        <h1 class="name">Miguel Montes</h1>
        <h2 class="occupation">Soy desarrollador web fullstack 👨‍💻</h2>
        <div class="description">
          <strong>Ingeniero en Desarrollo y Gestión de Software</strong> con experiencia de <strong>4 años</strong> en el mundo de la tecnología desarrollando proyectos escalables y legibles tanto del lado del <b>frontend</b> como del <b>backend</b> 💻📱
        </div>
      </div>
    </div>
</div><br>
<section class="section-education animate__animated animate__fadeInRight" id="education">
  <div class="container"><br>
    <h3>Educación 📖</h3><br>
    <img src="../assets/img/UT LOGO.png" class="ut-img" alt="Universidad Tecnológica de la Costa logo">
    <div class="career">
      <h4>Ingeniería en Desarrollo y Gestión de Software</h4>
    </div>
    <div class="emoji">
      🎓
    </div>
  </div><br>
</section>
<section class="section-tecnologies animate__animated animate__fadeInLeft" id="tecnologies">
  <div class="container"><br>
    <h3>Tecnologías 💻</h3>
    <div>
      <img src="../assets/img/angular.png" class="angular-img" alt="Angular logo">
      <div class="tecnologie-name">
        <b>Angular</b>
      </div>
    </div>
    <div>
      <img src="../assets/img/React.png" class="angular-img" alt="React logo">
      <div class="tecnologie-name-react">
        <b>React</b>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
