.loader{
    height: 100vh;
}
.img-loader{
    width: auto;
    height: 63vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 32vh;
    animation: 2 heartBeat, fadeOut;
    animation-duration: 1.4s, .6s;
    animation-delay: .4s, 2.5s;
}
.me-img{
    width: 250px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .8rem;
}
.greeting{
    font-size: 1.4rem;
}
.name{
    font-size: 2.3rem;
    padding-top: .8rem;
}
.occupation{
    font-size: 1.6rem;
    padding-top: .7rem;
}
.description{
    font-size: 1.2rem;
    padding-top: .8rem;
}
.section-education{
    text-align: center;
}
.apart-header{
    font-size: 2rem;
    text-align: center;
}
.ut-img{
    width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.career{
    padding-top: .5rem;
}
.career > h4{
    font-size: 1.3rem;
}
.emoji{
    font-size: 2.1rem;
}
.section-tecnologies{
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 1.1rem;
    text-align: center;
}
.section-tecnologies > .container > .row *{
    padding-bottom: 1.1rem;
}
.tecnologie-name{
    padding-top: .3rem;
}
.angular-img{
    width: auto;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.section-projects{
    justify-content: center;
    align-items: center;
    align-content: center;
}
.card{
    width: auto;
    margin-bottom: 10px;
    border-radius: 1;
}
.card-title{
    font-size: 1.6rem;
}
.card-text{
    text-align: left;
    font-size: 1.15rem;
}
.card-tecnologies{
    text-align:left;
    font-size: 1.25rem;
}
.badge{
    margin: .1rem;
}
.btn-card{
    font-size: 1.6rem;
}
.link-secondary{
    font-size: 2rem;
    text-align: center;
}
.d-lg-block{
    padding-top: .5rem;
    font-size: 1.45rem;
}
.text-uppercase{
    font-size: 1.3rem;
}
.txt{
    font-size: 1.16rem;
    text-align: justify;
}
.txt-icon-contact{
    font-size: 1.4rem;
}