/* You can add global styles to this file, and also import other style files */
:root{
    --color-primary: white;
    --color-secondary: black;
    --color-bg-footer-light: #f5f5f5;
    --color-bg-footer-dark: #222;
}
html, body{
    margin: 0;
    padding: 0;
}
@media (prefers-color-scheme:light){
    body{
        background-color: var(--color-primary);
        color: var(--color-secondary);
    }
    .invert{
        filter: invert(100%);
    }
    .fab{
        color: var(--color-secondary);
    }
    .card-body{
        background-color: var(--color-primary);
        color: var(--color-secondary);
    }
    .footer{
        background-color: var(--color-bg-footer-light);
    }
}
@media (prefers-color-scheme:dark){
    body{
        background-color: var(--color-secondary);
        color: var(--color-primary);
    }
    .invert-loader{
        filter: invert(100%);
    }
    .fab{
        color: var(--color-primary);
    }
    .card-body{
        background-color: var(--color-secondary);
        color: var(--color-primary);
    }
    .footer{
        background-color: var(--color-bg-footer-dark);
    }
}
.dark-mode{
    background-color: var(--color-secondary);
    color: var(--color-primary);
    .invert{
        filter: invert(0%);
    }
    .fab{
        color: var(--color-primary);
    }
    .card-body{
        background-color: var(--color-secondary);
        color: var(--color-primary);
    }
    .footer{
        background-color: var(--color-bg-footer-dark);
    }
}
.light-mode{
    background-color: var(--color-primary);
    color: var(--color-secondary);
    .invert{
        filter: invert(100%);
    }
    .fab{
        color: var(--color-secondary);
    }
    .card-body{
        background-color: var(--color-primary);
        color: var(--color-secondary);
    }
    .footer{
        background-color: var(--color-bg-footer-light);
    }
}